<h1>Welcome to the IDEAS space</h1>
<p>to <span>Share</span> & <span>Debate</span> like no tomorrow ☺️</p>

<hr>

<div class="idea-wrapper">

  <% @ideas.each do |idea| %>
    <% if idea.category.present? %>
      <div class="idea-category"><%= idea.category %></div>
    <% end %>

    <h4 class="idea-title"><%= idea.title %></h4>
    <p class="idea-description"><%= idea.description %></p>

    <hr>
  <% end %>

</div>