// Define variables for your color scheme
// $main: #00F5D4;
// $main: #2ec4b6;
$main: #3ad3b8;
$black: #252627;
// $black: #2B303A;
$white: #FFF9FB;
// $white: #EEE5E9;

$light-green: #82ea9c;
$electro-green: #1cf37f;
$teal: #00aba9;
$turquoise: #AFEEEE;
$blue: #2d89ef;
$purple: #4d486c;
$medium-gray: #2d2d2d;
$dark-gray: #242424;

// For example:
$red: #FD1015;
// $blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
