// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// External libraries
@import "trix/dist/trix"; // ActionText
@import "./actiontext.scss";


body {
  background: $white;
  color: $black;
}

.main-wrapper {
  background: $white;
  color: $black;
}

.header {
  color: $main;
}

.sub-header {

  span {
    color: $main;
  }
}


.main-color { color: $main !important; }


// CARD from LW UI Kit
.card-product {
  position: relative;
  height: min-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product > a img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  filter: sepia(80%);
  // filter: hue-rotate(180deg);
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.link-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    display: inline-block;
  }
}
// -- CARD


// AVATAR from LW UI Kit
.owner-avatar {
  position: absolute;
  right: 0;
  top: -15px;
}
.avatar-bordered {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $main 1px solid;
}
// -- AVATAR


// Custom BTN Primary
.btn-outline-primary {
  border: 1px solid $main !important;
  color: $main !important;

  &:hover {
    background: $main !important;
    color: #fff !important;
  }
}


// EMOJI
.big-emoji {
  font-size: 1.5em;
}


// Custom bullet point for <li>
.container-fluid li:before { content: '\1F525'; margin-left: -20px; margin-right: 10px; }